 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      
    }

    /* Blue Header */
    .blue-header {
      background-color: #0066b3;
      color: white;
      padding: 10px 20px;
      text-align: center;
    }

    .blue-header h1 {
      font-size: 30px;
    }

    /* White Header */
    .white-header {
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 40px;
      border-bottom: 1px solid #ccc;
      height: 100px;
     /* width: 80px;*/
    }

    .white-header img {
      height: 90px;
      width: 90px;
      object-fit: contain;
      margin: none;
      display: flex;
      margin-right: 20px;
    }

    .white-header1{
      height: 90px;
      width: 90px;
      object-fit: contain;
      margin: none;
      margin-left: none;
      display: flex;
      margin-right: 200px;
    }
    .cspitlogo{
      margin-right: 20px;
    }
    .menu {
      display: flex;
      gap: 20px;
      text-align: center;
      margin-right: 150px;
    }

    .menu a {
      text-decoration: none;
      color: #000;
      margin-right: 50px;
      font-weight: bold;
      transition: color 0.3s;
      display: flex;
      transition: text-decoration 0.5s;
      transition: transform 0.5s;
    }

    .menu a:hover {
      color: #0066b3;
      text-decoration: underline;
      transform: scale(1.1);
    }

    .enquire
    {
      margin-left: 0%;
      margin-right: 0%;

    }